.header {
  padding: 10px 0;
  text-align: center;
}

.header ul {
  margin: 0;
  padding: 0;
}
.header ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
}
